<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-container">
  <h4>Welcome to App!</h4>
  <div class="form-group">
    <label for="loginName">Email Address</label>
    <input
      type="text"
      class="form-control"
      id="loginName"
      formControlName="loginName"
    />
    <span
      class="error"
      *ngIf="loginForm.get('loginName').errors?.required && isSubmitted"
      >Email Address is Required</span
    >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <span
      class="error"
      *ngIf="loginForm.get('password').errors?.required && isSubmitted"
      >Password is Required</span
    >
  </div>
  <button type="submit" class="btn btn-dark btn-block">LOGIN</button>
  <div class="text-center">
    <p class="text-gray mb-2">Not a member yet ?</p>
    <a href="javascript:void(0)" (click)="register()" class="text-primary"
      >Register</a
    >
  </div>
</form>
