<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
<div
  [ngClass]="{
    wrapper: isLogin
  }"
>
  <nav *ngIf="isLogin" id="sidebar" aria-labelledby="sidebar">
    <div (click)="toggle()" class="menu-icon">
      <span *ngIf="!show" class="fas fa-bars fa-lg"></span>
      <span *ngIf="show" class="fa fa-chevron-left fa-lg"></span>
    </div>
    <div [ngClass]="show ? 'menu-open' : 'menu-default'">
      <ul class="menu-bar-wrapper">
        <li>
          <a [routerLink]="['/provider/provider-service', providerId]"
            ><em class="fas fa-cog"></em><span> Service</span></a
          >
        </li>
        <li>
          <a [routerLink]="['/provider/appointment-slot', providerId]"
            ><em class="fas fa-calendar"></em><span> Appointment</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div id="main-area">
    <nav
      *ngIf="isLogin"
      class="navbar bg-white fixed-top"
      aria-labelledby="main-area"
      [ngClass]="show ? 'menu-open-push' : 'menu-default-push'"
    >
      <a class="navbar-brand" href="#">{{ headerTitle }}</a>
      <ul class="navbar-nav ml-auto flex-row">
        <li class="nav-item">
          <a
            class="nav-link profile-icon"
            [routerLink]="['/provider/complete-profile', providerId]"
            >C</a
          >
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
